body {
    padding-top: 120px;
}

.top-buffer {
    margin-top:20px;
}

.pizza-header {
    font-size: 20px !important;
}

.glyphicon.glyphicon-remove.pull-right.text-danger {
    padding-top: 2px !important;
}

.fa {
    margin-top: 10px;
}

.pizza-radio > input {
    visibility: hidden;
    position: absolute;
}

label.pizza-radio {
    display: inline !important;
    margin-left: -5px;
}

.pizza-radio > input + i {
    cursor:pointer;
    border:2px solid transparent;
}

.pizza-radio > input:checked + i {
    color: #337ab7;
}